:root {
    --blue-main: #0065fc;
    --blue-light: #deebff;
    --grey-booki: #d9d9d9;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    width: 90%;
    margin: auto;
}

/* HTML TAG */

h1 {

}

h2 {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.25rem;
}

/* HEADER */

nav {
    display: flex;
    justify-content: space-between;
}

nav img {
    object-fit: contain;
    width: 10%;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    padding-top: 3px;
    margin-right: 16px;
    border-top: 2px solid white;
}

.menu:hover {
    border-top: 2px solid blue;
}

/* SECTION */

#search, #activities {
    background-color: lightgrey;
}

/* SECTION SEARCH */

#result {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-result {
    width: 55%;
    background-color: lightgrey;
    padding: 0 16px 0 16px;
}

.popular-result {
    background-color: lightgrey;
    width: 35%;
    padding: 0 16px 0 16px;
    /* display: flex; */
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* FORAWESOME */

.fa-chart-line {
    color: var(--blue-main)
}